.container {
    background-color: #dbdbdb;
    text-align: center;
    padding: 20px;
}

.container h1 {
    color: #232323;
    font-size: 36px;
    margin-bottom: 10px;
}

.container h3 {
    color: #9f9f9f;
    text-align: center;
    margin: 0 auto;
    background-color: #232323;
    width: max-content;
    border-radius: 8px;
    padding: 20px;
    font-size: 24px;
    margin-bottom: 20px;
}

.container p {
    color: brown;
    font-size: 18px;
    margin-bottom: 20px;
    margin: 0 auto;
    padding: 5px;
    width: max-content;
    background-color:  #b6b6b6;
}